includes:
    - phpstan-baseline.neon

parameters:
    # You can currently choose from 11 levels (0 is the loosest and 10 is the strictest).
    level: max

    # PHP Version to check against (PHP 8.4 as minimum target)
    phpVersion: 80400

    tmpDir: %currentWorkingDirectory%/.build/cache/.phpstan.cache

    paths:
        - %currentWorkingDirectory%/src/
        - %currentWorkingDirectory%/tests/

    excludePaths:
        - %currentWorkingDirectory%/.build/
        - %currentWorkingDirectory%/tests/Fixtures/Extension/
